
body, html {
    height: 100vh;
    margin: 0;
}

.plant{
    background-image: url("../public/assets/plant.png");
}

.home {
    background: url("../public/assets/background.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: "75px";
}

.upload {
      
    /* Full height */
    height: 100vh; 
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 104px;
  }

  #uploadbg{
    /* The image used */
    background-image: url("../public/assets/background2.png");
  }

  .leaf {
    background-image: url("../public/assets/leaf.png");
  }

  .predict {
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: "75px";
  }